#sectionTitulo {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-family: "Macondo", cursive;
  font-weight: 900;
  color: #171a4a;
  font-size: 25px;
  margin-bottom: 10px;
}

#sectionForm {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#divForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  background-color: #171a4a;
  height: auto;
  width: 700px;
  border-radius: 10px;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 90%;
}

label {
  font-family: "Patua One", serif;
  color: white;
  font-size: 25px;
}

input {
  font-family: "Patua One", serif;
  color: #171a4a;
  font-size: 20px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

.spinnerDeEstados {
  font-family: "Patua One", serif;
  color: #171a4a;
  font-size: 20px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

#btnRegistrar {
  display: flex;
  justify-content: center;
}

button {
  margin-top: 10px;
  cursor: pointer;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #f2f2f2;
  color: #171a4a;
  font-family: "Patua One", serif;
  transition: background-color 0.3s ease;
}
