<main id="contenedorMain">
    <section id="sectionHeader"> <!--header de la pagina-->
        <div id="contenedorLogoTitulo">
            <div id="contenedorLogo">
                <img id="logo" src="\assets\Imagenes\logo-blanco_color_changed.png" alt="Logo NamasPet" width="100" height="100" />
            </div>
            <div id="contenedorTitulo">
                <h1 class="titulo">NAMASPET</h1>
            </div>
        </div>
        <div id="contenedorMenuDesplegable">
            <nav class="navbar">
                <ul class="menuHorizontal">
                    <li><a (click)="mostrarSeccion('landing')" >Inicio</a></li> <!-- ir al landing page-->
                    <li>
                        <a (click)="mostrarSeccion('veterinarios')">Veterinarios</a>
                    </li>
                    <li>
                        <a (click)="mostrarSeccion('mascotas')">Mascotas</a> <!-- ver las mascotas-->
                    </li>
                    <li>
                        <a>Dashboard</a>
                    </li>
                    <li>
                        <a (click)="mostrarSeccion('clientes')" >Clientes</a>
                    </li> 
                    <li id="btnItem">
                        <button class="btnPerfil">
                            <a id="btnLogin" [routerLink]="['/login']">
                                <img class="btnPerfil" src="\assets\Imagenes\logo_corrected.png"> <!--boton de login-->
                            </a>
                        </button>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
    <section>
        <ng-container *ngIf="mostrarLandingPage">
            <div id="divBienvenido">
                <h1>BIENVENIDO ADMINISTRADOR: </h1>
            </div>
            <div id="divBanner">
                <img src="assets/Imagenes/banner.jpg" alt="iamgen bienvenido" id="imgBanner">
            </div>
            <div id="espacio"></div>
        </ng-container>
        <ng-container *ngIf="mostrarListaMascotas">
            <app-lista-mascotas [mostrarEstilosEspeciales]="mostrarListaMascotas"></app-lista-mascotas>
        </ng-container>
        <ng-container *ngIf="mostrarListaClientes">
            <app-lista-clientes [mostrarEstilosEspeciales]="mostrarListaClientes"></app-lista-clientes>
        </ng-container>
        <ng-container *ngIf="mostrarDashboard">
            <app-administrador-dashboard></app-administrador-dashboard>
        </ng-container>
        <ng-container *ngIf="mostrarListaVeterinario">
            <app-lista-veterinarios></app-lista-veterinarios>
        </ng-container>
    </section>
    <ng-container *ngIf="mostrarFooter">
        <app-footer></app-footer>
    </ng-container>
</main>