<main id="contenedorMain">
    <section id="sectionHeader"> <!--header de la pagina-->
        <div id="contenedorLogoTitulo">
            <div id="contenedorLogo">
                <img id="logo" src="\assets\Imagenes\logo-blanco_color_changed.png" alt="Logo NamasPet" width="100"
                    height="100" />
            </div>
            <div id="contenedorTitulo">
                <h1 class="titulo">NAMASPET</h1>
            </div>
        </div>
        <div id="contenedorMenuDesplegable">
            <nav class="navbar">
                <ul class="menuHorizontal">
                    <li>
                        <a [routerLink]="['/admin/home']">Inicio</a> <!-- ir al landing page del administrador-->
                    </li> 
                    <li>
                        <a [routerLink]="['/veterinarios/all']">Veterinarios</a>
                    </li>
                    <li>
                        <a [routerLink]="['/tratamientos/all']">Tratamientos</a>
                    </li>
                    <li>
                        <a [routerLink]="['/admin/mascotas/all']">Mascotas</a> <!-- ver las mascotas-->
                    </li>
                    <li>
                        <a [routerLink]="['/admin/dashboard']">Dashboard</a>
                    </li>
                    <li>
                        <a [routerLink]="['/admin/clientes/all']">Clientes</a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
    <section>
        <div id="divBienvenido">
            <h1>BIENVENIDO ADMINISTRADOR</h1>
        </div>
        <div id="divBanner">
            <img src="assets/Imagenes/banner.jpg" alt="iamgen bienvenido" id="imgBanner">
        </div>
        <div id="espacio"></div>
        <app-footer></app-footer>
    </section>
</main>