<section id="sectionTitulo">
    <div id="space"> <!--Corregir de una vez lo que se pone-->
        <a class="iconos" id="IconoTarjeton" [routerLink]="['/mascotas/tarjetones']"><i class='bx bx-grid-alt'></i></a>
        <a class="iconos" [routerLink]="['/mascotas/all']"><i class='bx bx-table'></i></a>
    </div>
    <div>
        <h1 id="titulo">MASCOTAS</h1>
    </div>
    <div id="spaceInvisible">
        <input type="text" id="searchBar" placeholder="Buscar mascota..." [(ngModel)]="filtro" (keyup)="filtrarMascotas()">
    </div>
</section>

<section class="sectionTarjetones">
    <div class="divTarjetones">
        <a class="btnTarjeton" *ngFor="let mascota of mascotasFiltradas" [routerLink]="['/mascotas/', mascota.id]" >
            <div class="card" >
                <div class="card-image-container" (click)="mostrarMascota(mascota.id)">
                    <img [src]="mascota.imagen" alt="Imagen de la mascota">
                </div>
                <p class="card-title">{{ mascota.nombre }}</p>
            </div>
        </a>
    </div>
</section>
