<main id="contenedorMain">
    <app-administrador-header></app-administrador-header>
    <section id="sectionTitulo">
        <h1>Tratamiento: </h1>
    </section>
    <section id="sectionForm">
        <div id="divForm">
            <form (ngSubmit)="asignarDroga()">
                <div>
                    <label for="drogas" class="form-label">Drogas</label>
                    <select id="drogas" [formControl]="selectedDroga">
                        <option *ngFor="let droga of drogasList" [value]="droga.codigo">{{droga.nombre}}</option>
                    </select>                                  
                </div>
                <div id="btnRegistrar">

                    <button type="submit">Asignar Droga</button>
                </div>
            </form>
        </div>
    </section>
</main>
