<div class="login-component">
    <section id="sectionTitulo" class="fondo">
        <div class="divPlanta">
            <img class="planta" src="assets/Imagenes/plantaLogIn.png" alt="plantaLogIn" width="146.23" height="222.5">
        </div>
        <div id="divLogoTitulo" class="fondo">
            <div id="divLogo">
                <img src="assets/Imagenes/logo-blanco.png" alt="Logo NamasPet" width="180" height="180" />
            </div>
            <div id="divTitulo">
                <h1>NAMASPET</h1>
            </div>
        </div>
        <div class="divPlanta">
            <img class="planta" src="assets/Imagenes/plantaLogIn.png" alt="plantaLogIn" width="146.23" height="222.5"
                id="plantaReflejada">
        </div>
    </section>
    
    <section id="sectionLogIn">
        <div id="plantaAbajoIzquierda">
            <img class="planta" src="assets/Imagenes/plantaLogIn.png" alt="plantaLogIn" width="146.23" height="222.5">
        </div>
        <div id="divlogin">
            <div class="login-box">
                <h2>Iniciar Sesion</h2>
                <form method="post"> <!--formulario de inicio de sesion-->
                    <div class="user-box">
                        <input type="text" id="cedula" name="cedula" required>
                        <label id="labelCedula">Cedula</label>
                    </div>
                    <div id="divIngresar">
                        <a [routerLink]="['/clientes/']">
                            <button id="btnIngresar" type="submit">Ingresar</button>
                        </a>
                    </div>
                </form>
            </div>
        </div>
        <div id="plantaAbajoDerecha">
            <img class="planta" src="assets/Imagenes/plantaLogIn.png" alt="plantaLogIn" width="146.23" height="222.5">
        </div>
    </section>
</div>
