<main id="contenedorMain">
    <ng-container>
        <app-administrador-header></app-administrador-header>
    </ng-container>
    <section id="sectionTabla">
        <div id="divTitulo">
            <div id="titulo">
                <h1>DROGAS DEL TRATAMIENTO: </h1>
            </div>
        </div>
        <div id="divTabla">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th class="thsss">NOMBRE</th>
                        <th>PRECIO VENTA</th>
                        <th class="thsss">PRECIO COMPRA</th>
                        <th>UNIDADES COMPRADAS</th>
                        <th>UNIDADES VENDIDAS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let drogas of drogasList">
                        <td>{{ drogas.id }}</td>
                        <td class="tdsss">{{ drogas.nombre }}</td>
                        <td class="correo">{{ drogas.precioV }}</td>
                        <td>{{ drogas.precioC }}</td>
                        <td>{{ drogas.unidades_C }}</td>
                        <td>{{ drogas.unidades_V }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</main>