/* ============ section tabla =========== */

#sectionTabla {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

#space {
  width: 470px;
}

#titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Macondo", cursive;
  font-weight: bold;
  font-weight: 900;
}

.thsss {
  text-align: center;
}

.tdsss {
  width: fit-content;
}

#divTitulo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-size: 35px;
  color: #171a4a;
}

#btnAgregar {
  margin-left: 345px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 10px;
}

/* ============ tabla =========== */
#divTabla::-webkit-scrollbar {
  width: 15px; /* Grosor de la barra de desplazamiento */
}

#divTabla::-webkit-scrollbar-track {
  background: #2f2c79; /* Color de fondo de la pista de la barra de desplazamiento */
  border-radius: 10px; /* Redondeo de las esquinas de la pista */
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1); /* Sombra de la pista */
}

#divTabla::-webkit-scrollbar-thumb {
  background: #706dca; /* Color de la barra de desplazamiento */
  border-radius: 10px; /* Redondeo de las esquinas de la barra */
}

#divTabla::-webkit-scrollbar-thumb:hover {
  background: #64c27b; /* Color de la barra de desplazamiento al pasar el mouse */
}

#divTabla {
  border-radius: 10px;
  max-height: 562px;
  overflow-y: scroll;
  display: block;
}

table th {
  font-family: "Patua One", serif;
  font-weight: lighter;
  font-size: 25px;
  padding: 15px;
  color: white;
}

td {
  color: white;
  font-family: "Patua One", serif;
  text-align: center;
  vertical-align: middle;
  height: 100px;
  overflow: hidden;
  font-size: 20px;
  margin: 15px;
  padding: 15px;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
  overflow: hidden;
}

td,
th {
  border: 1px solid #64c27b;
}

thead th:first-child {
  border-top-left-radius: 10px;
}

thead th:last-child {
  border-top-right-radius: 10px;
}

thead th {
  background-color: #2f2c79;
}

tbody td {
  background-color: #171a4a;
}

td span {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
}

/* ============ anchors =========== */

#btnAsignarDrogas {
  position: relative;
  text-decoration: none;
  color: rgb(70, 238, 92);
  font-size: 20px;
  letter-spacing: 0.5px;
}

.correo {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 310px; /* Ajusta este valor según el ancho deseado para tu celda */
}

#anchorPerros {
  position: relative;
  text-decoration: none;
  color: lightsalmon;
  font-size: 20px;
  letter-spacing: 0.5px;
}

#anchorPerros::after {
  content: "";
  position: absolute;
  background-color: #000000;
  height: 3;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

#anchorPerros:hover {
  font-size: 23px;
  text-decoration: none;
}

#anchorPerros:hover::after {
  width: 100%;
  text-decoration: none;
}

#btnAsignarDrogas::after {
  content: "";
  position: absolute;
  background-color: #000000;
  height: 3;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

#btnAsignarDrogas:hover {
  font-size: 23px;
  text-decoration: none;
}

#btnAsignarDrogas:hover::after {
  width: 100%;
  text-decoration: none;
}

#thCorreo {
  display: flex;
  text-align: center;
  justify-content: center;
}
