<main id="contenedorMain">
    <section id="sectionTabla">
        <div id="divTitulo">
            <div id="titulo">
                <h1>Detalles de las Drogas</h1>
            </div>
        </div>
        <div id="divTabla" *ngIf="seleccionarMedicamento">
            <table>
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th class="thsss">Nombre</th>
                        <th>Precio Venta</th>
                        <th class="thsss">Precio Compra</th>
                        <th>Unidades Compradas</th>
                        <th>Unidades Vendidas</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ seleccionarMedicamento.codigo }}</td>
                        <td class="tdsss">{{ seleccionarMedicamento.nombre }}</td>
                        <td class="correo">{{ seleccionarMedicamento.precioV | currency:'USD':'symbol':'1.2-2' }}</td>
                        <td>{{ seleccionarMedicamento.precioC | currency:'USD':'symbol':'1.2-2' }}</td>
                        <td>{{ seleccionarMedicamento.unidades_C }}</td>
                        <td>{{ seleccionarMedicamento.unidades_V }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</main>
