<section id="sectionTitulo">
    <h1 id="titulo">REGISTRAR MASCOTA</h1>
</section>

<section id="sectionForm">
    <div id="divForm">
        <form #formMascota="ngForm" (ngSubmit)="registrarMascota(registrarFormMascota)">
            <div>
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" [(ngModel)]="formMascota.nombre" name="nombre" id="nombre">
            </div>
            <div>
                <label for="raza">Raza</label>
                <input type="text" name="raza" id="raza" [(ngModel)]="formMascota.raza">
            </div>
            <div>
                <label for="edad">Edad</label>
                <input type="number" [(ngModel)]="formMascota.edad" name="edad" id="edad">
            </div>
            <div>
                <label for="peso">Peso</label>
                <input type="number" [(ngModel)]="formMascota.peso" name="peso" id="peso" step="0.01">
            </div>
            <div>
                <label for="estado">Estado</label>
                <select [(ngModel)]="formMascota.actividad" name="estado" id="spinnerDeEstados">
                    <option value="true">Activo</option>
                    <option value="false">Inactivo</option>
                </select>
            </div>
            <div>
                <label for="imagen">Foto</label>
                <input type="url" [(ngModel)]="formMascota.imagen" name="imagen" id="imagen">
            </div>
            <div>
                <label for="dueno">Cedula Del Dueñ@</label>
                <input type="number" [(ngModel)]="formMascota.cliente.cedula" name="dueno" id="dueno">
            </div>
            <div id="btnRegistrar">
                <button type="submit">Registrar</button>
            </div>
        </form>
    </div>
</section>