<section id="bienvenida">

    <div id="divTestimonioPerrito"> <!--div que contiene el testimonio del perro-->
        <div id="divNombrePerrito">
            <h1 id="nombrePerrito">MANOLO</h1>
        </div>
        <div id="divTestimonioPerritoTexto">
            <p id="testimonioPerrito"> <!--texto del testimonio del perro-->
                Hola soy Manolo! Un dia me senti super enfermo <br>mis dueñose me llevaron a NamasPet y me cuidaron muy
                bien
            </p>
            <div class="container"> <!--div que contiene el perrito-->
                <div class="dog">
                    <div class="dog-head">
                        <div class="dog-ears ears-left"></div>
                        <div class="dog-ears ears-right"></div>
                        <div class="dog-eyes"></div>
                        <div class="dog-mouth">
                            <div class="dog-nose"></div>
                            <div class="dog-tongue"></div>
                        </div>
                    </div>
                    <div class="dog-tail"></div>
                    <div class="dog-body">
                        <div class="dog-foot"></div>
                    </div>
                    <div class="ball"></div> <!--perrito-->
                </div>
            </div>
        </div>
    </div>

    <div class="DivCarrusel"> <!--div que contiene el carrusel-->
        <div class="carrusel" id="slider">
            <section class="slider-section">
                <img id="imagen" src="\assets\Imagenes\perro1JPG.jpg" alt="" />
            </section>

            <section class="slider-section">
                <img id="imagen" src="\assets\Imagenes\perro6JPG.jpg" alt="" height="700" />
            </section>

            <section class="slider-section">
                <img id="imagen" src="\assets\Imagenes\perro4JPG.jpg" alt="" />
            </section>

            <section class="slider-section">
                <img id="imagen" src="\assets\Imagenes\perro5JPG.jpg}" alt="" />
            </section>

        </div>
        <div class="btn-left"><i class='bx bx-chevron-right bx-rotate-180'></i></div>
        <div class="btn-right"><i class='bx bxs-chevron-right'></i></div>
    </div>


</section>


<main id="blog"> <!--main de la pagina-->
    <div class="contenedor">
        <div>
            <div class="contenido">
                <div id="quienesSomos" class="contenedor">
                    <h2 class="temas">¿Quienes Somos?</h2> <!--temas de quienes somos-->
                    <p class="textoTemas"> <!--texto de quienes somos-->
                        NamasPet es una nueva forma de cuidaddo canino de la forma mas
                        <strong>"Calmada y respetuosa "</strong> donde tu mascota estara
                        tranquilo siempre que este bajo nuestro cuidado,
                        <strong>es la tienda online más completa para mascotas creada por pet
                            lovers para pet lovers!</strong>.Buscamos un ambiente espiritual y realajado para que las
                        mascotas no sufran ningun tipo de estres.
                    </p>
                    <img src="\assets\Imagenes\perro1.png" alt="" height="500" width="500">
                </div>
                <div id="especiolizacion" class="contenedor">
                    <h3 class="temas">¿En Que Nos Especializamos?</h3>
                    <p class="textoTemas">
                        Nuestra propiesta es poder hacer todo tipo de tratamiento
                        atravez de nuestra pagina. Todos los tratamientos van a estar
                        bajo el cuidado de profesionales veterinarios y se pordra hacer
                        todo el seguimiento de tu mascota tanto como su historial y todo
                        tipo de los medicamientos tomados.
                    </p>
                    <img src="\assets\Imagenes\perro2.png" alt="" height="500" width="500">
                </div>
                <div id="textoConMapa">
                    <div id="dondeEstamos" class="contenedor">
                        <h3 class="temas">¿Donde Nos encontramos?</h3>
                        <p class="textoTemas">
                            NamasPet Llega a todo Bogotá, Chía y Medellín y próximamente
                            estaremos en Cali. Tenemos entregas el mismo día en 3 rutas
                            diferentes para que elijas la que más te funciona, si pides
                            antes de las 5pm te llega el mismo día. También tenemos envíos
                            nacionales con tiempos de entrega de 3 días hábiles. Contamos
                            con todos los métodos de pago : efectivo, datafono, pagos online
                            y lo más importante con muy buenos precios.
                        </p>
                    </div>
                    <iframe id="mapa"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.807015171248!2d-74.06723942603459!3d4.628492842281408!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f99a8193f1c9f%3A0xf93431640f134c07!2sPontificia%20Universidad%20Javeriana!5e0!3m2!1ses-419!2sco!4v1707931908629!5m2!1ses-419!2sco"
                        width="900" height="500" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade">
                    </iframe> <!--mapa-->
                </div>
            </div>
        </div>
    </div>
</main>

<div class="perrritoAcostado" id="contenedorPerritoFooter">
    <img src="\assets\Imagenes\perro3.png" alt="Imagen de un perro" id="perritoFooter" width="450" height="450" />
</div>
