<div class="container-fluid mt-5"> <!--contenedor de la pagina-->
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="mensaje text-center"> <!--div que contiene el mensaje-->
                <h1>Lo siento :(</h1>
                <h2>Ooops...</h2>
                <h3>No se pudo encontrar la página que estás buscando.</h3>
                <img src="assets/Imagenes/doge-removebg-preview.png" alt="Imagen de error" class="img-fluid mt-3"
                    style="max-width: 100%;"> <!--imagen de error-->
            </div>
        </div>
    </div>
</div>