<section id="sectionTabla">
    <div id="divTitulo">
        <div id="space"></div>
        <div id="titulo">
            <h1>TRATAMIENTOS</h1>
        </div>
    </div>
    <div id="divTabla">
        <table>
            <thead>
                <tr>
                    <th>NOMBRE</th>
                    <th>PRECIO VENTA</th>
                    <th>PRECIO COMPRA</th>
                    <th>UNIDADES VENDIDAS</th>
                    <th>UNIDADES COMPRADAS</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tratamiento of medicamentoList">
                    <td>{{ tratamiento.nombre }}</td>
                    <td>{{ tratamiento.precioV }}</td>
                    <td>{{ tratamiento.precioC }}</td>
                    <td>{{ tratamiento.unidades_V }}</td>
                    <td>{{ tratamiento.unidades_C }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
