<section id="sectionTitulo">
    <h1 id="titulo">EDITAR MASCOTA</h1>
</section>

<section id="sectionForm">
    <div id="divForm">
        <form>
            <div>
                <label for="nombre" class="form-label" >Nombre</label>
                <input type="text" name="nombre" id="nombre" [(ngModel)]="formMascota.nombre">
            </div>
            <div>
                <label for="raza">Raza</label>
                <input type="text" name="raza" id="raza" [(ngModel)]="formMascota.raza">
            </div>
            <div>
                <label for="edad">Edad</label>
                <input type="number" name="edad" id="edad" [(ngModel)]="formMascota.edad">
            </div>
            <div>
                <label for="peso">Peso</label>
                <input type="number" name="peso" id="peso" step="0.01" [(ngModel)]="formMascota.peso">
            </div>
            <label for="actividad">Estado</label>
            <select class="spinnerDeEstados" name="actividad" id="actividad" [(ngModel)]="formMascota.actividad">
                <option value="true">Activo</option>
                <option value="false">Inactivo</option>
            </select>
            <div>
                <label for="imagen">Foto</label>
                <input type="url" name="imagen" id="imagen" [(ngModel)]="formMascota.imagen">
            </div>
            <div>
                <label for="dueno">Cedula Del Dueñ@</label>
                <input type="number"  name="dueno" id="dueno" [(ngModel)]="formMascota.dueno">
            </div>
            <div id="btnRegistrar">
                <button type="submit">Registrar</button>
            </div>
        </form>
    </div>
</section>