<section id="sectionTitulo">
    <h1 id="titulo">Perros del cliente: {{clienteNombre}}</h1>
</section>

<section class="sectionTarjetones">
    <div class="divTarjetones">
        <a class="btnTarjeton" *ngFor="let perro of mascotas" [routerLink]="['/mascotas', perro.id]">
            <div class="card">
                <div class="card-image-container">
                    <img [src]="perro.imagen" alt="Perro">
                </div>
                <p class="card-title">{{perro.nombre}}</p>
            </div>
        </a>
    </div>
</section>
