<section id="sectionTabla">
    <div id="divTitulo">
        <div id="space"> <!--Corregir de una vez lo que se pone-->
            <a [ngClass]="{'clase-especial': mostrarEstilosEspeciales}" class="iconos" [routerLink]="['/mascotas/tarjetones']"><i class='bx bx-grid-alt'></i></a>
            <a [ngClass]="{'clase-especial': mostrarEstilosEspeciales}" class="iconos" [routerLink]="['/mascotas/all']"><i class='bx bx-table'></i></a>
        </div>
        <div id="divTituloMascotas">
            <h1 [ngClass]="{'clase-especial': mostrarEstilosEspeciales}" >MASCOTAS</h1>
        </div>
        <div id="divBtn">
            <a [routerLink]="['/mascotas/add']" id="anchorAgregarMascota">
                <button id="btnAgregar">Agregar</button>
            </a>
        </div>
    </div>
    <div id="divTabla">
        <table>
            <thead [ngClass]="{'clase-especial2': mostrarEstilosEspeciales}">
                <tr>
                    <th>ID</th>
                    <th>NOMBRE</th>
                    <th>RAZA</th>
                    <th>EDAD</th>
                    <th>ESTADO</th>
                    <th>PESO</th>
                    <th>IMAGEN</th>
                    <th># ATENCIONES</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let mascota of mascotasList">
                    <td [ngClass]="{'clase-especial3': mostrarEstilosEspeciales}">{{ mascota.id }}</td>
                    <td [ngClass]="{'clase-especial3': mostrarEstilosEspeciales}">{{ mascota.nombre }}</td>
                    <td [ngClass]="{'clase-especial3': mostrarEstilosEspeciales}">{{ mascota.raza }}</td>
                    <td [ngClass]="{'clase-especial3': mostrarEstilosEspeciales}">{{ mascota.edad }}</td>
                    <td [ngClass]="{'clase-especial3': mostrarEstilosEspeciales}">{{ mascota.actividad ? 'Activo' : 'Inactivo' }}</td>
                    <td [ngClass]="{'clase-especial3': mostrarEstilosEspeciales}">{{ mascota.peso }}</td>
                    <td [ngClass]="{'clase-especial3': mostrarEstilosEspeciales}">
                        <img [src]="mascota.imagen" alt="Imagen de la mascota"
                             style="max-width:100%; height:auto;">
                    </td>
                    <td>{{ mascota.numeroAtenciones }}</td>
                    <td id="tdEliminarEditar">
                        <a class="btnEdi" [routerLink]="['/mascotas/edit', mascota.id]">Editar</a>
                        <a class="btnEli" (click)="eliminarMascota(mascota)">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="space2"></div>
</section>