/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Macondo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Patua+One&display=swap");
@import "~bootstrap/dist/css/bootstrap.css";


html,body {
  margin: 0;
  padding: 0;
  background-color: #d0fdd7;
  box-sizing: border-box;
  scroll-margin-top: 30px
}
