/** ====== Titulo ======*/

#sectionTitulo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

#spaceInvisible{
  margin-left: 400px;
  width: 50px;
  height: 50px;
}

#space {
  display: flex;
  align-items: flex-end; /* Esto alineará tus ítems al final */
  height: 100%; /* Asegúrate de que el div ocupe la altura que deseas */
  height: 90px;
  margin-right: 360px;
}

.iconos {
  text-decoration: none;
  color: #171a4a;
  margin-right: 10px;
  font-size: 40px;
  /* Asegúrate de que el tamaño de los íconos y el espaciado es el deseado */
}

.iconos:hover {
  font-size: 38px;
}

#titulo {
  font-family: "Macondo", cursive;
  font-weight: 900;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  color: #171a4a;
}

/** ====== Tarjetones del perro ======*/

.sectionTarjetones {
  display: flex;
  flex-direction: row;
  margin: 40px;
  justify-content: space-evenly;
}

.divTarjetones {
  display: flex;
  justify-content: center; /* Cambiar a center si quieres que estén en el centro */
  flex-wrap: wrap;
}

a {
  display: inline-block;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  max-height: 500px;
  background-color: #171a4a;
  border-radius: 10px;
  box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.08),
    -4px -4px 12px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  transition: all 0.3s;
  box-sizing: border-box;
  padding: 10px;
}

/* Estilos para .card-image-container */
.card-image-container {
  width: 100%;
  height: 84%;
  border-radius: 10px;
  margin-bottom: 12px;
  overflow: hidden;
  background-color: rgb(165, 165, 165);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilos para .card img */
.card img {
  height: 100%;
}

/* Estilos para .card-title */
.card-title {
  font-family: "Patua One", serif;
  margin: 0;
  font-size: 2em;
  font-weight: 400;
  cursor: default;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  color: white;
}

.card-text {
  font-family: "Patua One", serif;
  color: white;
}

.btnTarjeton {
  margin: 5px 5px;
  border-radius: 15px;
}

/* Estilos para Hover en .card dentro de .carousel-button */
.btnTarjeton:focus .card,
.btnTarjeton:hover .card {
  transform: scale(1.05);
  z-index: 10;
}
