<section id="sectionTitulo">
    <h1 id="titulo">MASCOTAS</h1>
</section>

<section class="sectionTarjetones"> <!--Aqui se contienen todos los tarjetones-->
    <div class="divTarjetones">
        <a class="btnTarjeton" th:each="perros : ${perros}" th:href="@{/perro/find/{id}(id=${perros.id})}"> <!--Aqui se hace la redireccion a la informacion del perro-->
            <div class="card">
                <div class="card-image-container"> <!--Aqui se muestra la imagen del perro-->
                    <img th:src="${perros.imagen}" alt="Perro" />
                </div>
                <p class="card-title" th:text="${perros.nombre}"></p>
                <p class="card-text" th:text="${'Dueñ@: ' + perros.cliente.nombre}"></p> <!--Aqui se muestra el duenyo del perro-->
            </div>
        </a>
    </div>
</section>